@import url("https://fonts.cdnfonts.com/css/sf-ui-display");
@import "tailwindcss";

* {
  font-family: "SF UI Display", sans-serif;
}

:root {
  --primary-color: #6c63ff;
  --secondary-color: #27ae60;
  --background-color: #ecf0f1;
  --text-color: #0d1117;
  --card-bg: #ffffff;
  --accent-color: #f39c12;
}

@layer utilities {
  .text-primary {
    color: var(--primary-color);
  }

  .bg-primary {
    background-color: var(--primary-color);
  }
}
